#root {
 
  padding: 8px;
  text-align: center;
}
.product{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: auto;
  transition: transform 0.5s;
}
.item{
  transition: all, 0.5s;
}

.item:hover {
  transform: scale(1.02);

}

.item img {
  width: 100%;
  height: auto;
}
.form-data{
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 13px;
  padding: 20px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 400px;
  margin: auto;
  margin-bottom: 20px;
}



