#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.todo{
  padding: 20px;
  border: 0.5px solid #969696;
  border-radius: 10px;
  background-color: white;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

}
.todo:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  /* transform: translateY(-5px); */
}
input{
  margin-bottom: 20px;
  padding: 5px;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: white;
}
.todoItems{
  padding: 20px;
  border: 0.5px solid #969696;
  border-radius: 10px;
  background-color: white;
  align-items: center;
  box-shadow: 0 0 10px rgba(87, 87, 87, 0.2);
  transition: all 0.3s ease;
  margin-bottom: 10px;
}
.todoItems:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}